	@import url(https://fonts.googleapis.com/css?family=Lato:700); /*FONTE DO GOOGLE*/

	body{
		background-color:#00FA9A;
		font-family: 'Lato', sans-serif;
		font-size:16px;
		
	}
	
	h5{
		color:#FFF;
		text-align:center;
		font-family:tahoma;
	}
	
	*{margin:50;padding:0; }
	
	#nav {
		float: left;
		margin-bottom: 0px;
		z-index:500;
		position:relative;
		min-height:30px;	
	}
	
	#nav ul {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		list-style: none;
		margin: 0;
		padding-right: 16px;
	}
	
	#nav ul li {
		float: left;
		position: relative;
		display: block;
		z-index:500;
	}
	
	#nav ul li a {
		color: #FFF;
		background: #555;
		text-decoration: none;
		margin: 0 1px;
		padding: 15px 20px;
		border-top: 1px solid #555;
		display: block;
		z-index:500;
	}
	
	#nav li ul {
		display: none;
	}
	
	#nav ul li a:hover {
		background: #066;
		color: #FFF;
	}
	
	#nav li:hover ul {
		display: block;
		position: absolute;
		z-index:500;
	}
	
	#nav li:hover li {
		float: none;
		font-size: 12px;
	}
	
	#nav li:hover a {
		background: #333;
		color: #FFF;
	}
	
	#nav li:hover li a:hover {
		background: #222;
	}
	
	
	.img-slide{
		z-index:499;	
	}
	
	.cycle-slideshow{
		z-index:490;
	}
	
	/* pager */
	.cycle-pager { 
		text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
	}
	.cycle-pager span { 
		font-family: arial; font-size: 50px; width: 16px; height: 16px; 
		display: inline-block; color: #ddd; cursor: pointer; 
	}
	.cycle-pager span.cycle-pager-active { color: #D69746;}
	.cycle-pager > * { cursor: pointer;}
	
	.promocoes{
		background-color:#fff;
	}


	/* ZOOM NAS IMAGENS DOS DETALHES */
	.img-zoom {
	z-index:501; /* EMPILHAMENTO DE IMAGENS NA WEB */
	position:relative;
    width: 400px;
    -webkit-transition: all .2s ease-in-out; /* MOTORES DE RENDERIZAÇÃO PARA BROWSERS DA WEB */
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	}
 
	.transition {
		-webkit-transform: scale(2); 
		-moz-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
	}


	/* BOTAO DETALHES NAS PÁGINAS */
	.detalhes{
		background-color:#030;
		color:#FFF;
		width:200px;
		text-align:center;
		padding:10px;
		font-size:16px;
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;			
	}
	
	.detalhes:hover{
		background-color:#fff;
		color:#030;	
		font-size:18px;
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
	}		

	/*ALTERA A ORDEM DA IMAGEM AO REALIZAR ZOOM*/
	.img-zoom{
	  z-index: 300;
	}	

	/* RETIRA A BORDA DO MAPEAMENTO */
	*:focus
	{
	outline: none;
	outline-width: 0;
	}

